body {
  margin: 0;
 font-family: 'Lobster', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
    background-image: linear-gradient(to right, purple  , pink);
}
